* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overscroll-behavior-y: inherit;
}

body {
    /*width: 98.98vw;*/
    margin: auto;
}

.khung {
    width: 100%;
    margin: auto;
    background: url('http://localhost:8080/BNOStore/views/HomeImage/image/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-width: 98vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*header*/
.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: auto;
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 999;
}
/*menu header*/
.menu_header {
    width: 540px;
    margin: auto;
    display: flex;
    margin: auto;
    margin-left: 40px;
}

.a_menu_header {
    position: relative;
    display: inline-block;
    margin: auto;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: ease 0.6s all;
}

    .a_menu_header::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2.3px;
        content: "";
        background-color: #ffa827;
        transition: ease 0.6s all;
    }

    .a_menu_header:hover {
        color: #ffa827;
    }

        .a_menu_header:hover::after {
            width: 100%;
        }

/*mennu header 2*/
.menu_header_2 {
    width: 190px;
    margin: auto;
    display: flex;
}

.a_menu_header_2 {
    position: relative;
    display: block;
    margin: auto;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: ease 0.6s all;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

    .a_menu_header_2::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2.3px;
        content: "";
        background-color: #ffa827;
        transition: ease 0.6s all;
    }

    .a_menu_header_2:hover {
        color: #ffa827;
    }

        .a_menu_header_2:hover::after {
            width: 100%;
        }
/*phần tìm kiếm*/
.header2 {
    margin: auto;
    margin-top: 60px;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.4); /*Màu đen với độ mờ 50% */
    display: flex;
    box-sizing: inherit;
}
/*logo header*/
.a_logo {
    min-width: 150px;
    min-height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:180px;
    margin-left:140px;
}

.logo_img {
    width: 150px;
    height: 70px;
    object-fit: cover;
}
/*find*/
.find_header {
    margin: auto;
    margin-left:0;
}

.search {
    width: 610px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0.4px solid #5694b6;
    outline: none;
    text-indent: 10px;
}

@media(max-width:998px) {
    .search {
        width: 300px;
    }
}

.bt-timkiem {
    border: none;
    width: 90px;
    height: 39px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #525ee9;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

    .bt-timkiem:hover {
        transition: ease 0.6s all;
        background-color: #5694b6;
    }

/*footer-----------------------------------------------------------------------------*/
.footer {
    box-sizing: inherit;
    width: 100%;
    height: auto;
    background-color: #11121a; /* a80= ~30% */
    margin: auto;
    border-top: 3px solid #269ef9;
}
/*footer 1*/
.footer1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.f-div1 {
    display: flex;
    margin: auto;
    gap: 90px;
    margin-top: 50px;
}

.f-div1-a {
    display: block;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.9px solid #37383e;
    background-color: #0f1017;
}

    .f-div1-a:hover {
        transition: ease 0.4s all;
        background-color: black;
        border-color: #2a2a2a;
        box-shadow: 0px 0px 6px #00c2fe;
    }

        .f-div1-a:hover img {
            filter: invert(1);
            transition: ease 0.5s all;
        }

    .f-div1-a img {
        width: 40px;
        height: 40px;
        filter: invert(0.4);
        transition: ease 0.5s all;
    }

.f-div1 h2 {
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: auto;
}

    .f-div1 h2:after {
        content: " ";
        width: 100%;
        border: 2px solid white;
        margin-top: 5px;
    }

.f-div1-div {
    display: flex;
    gap: 60px;
    margin: auto;
    margin-top: 10px;
}

.f-div2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
}

    .f-div2 h1 {
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .f-div2 p {
        color: #919195;
        margin: auto;
        margin-top: 5px;
        margin-left: 0;
    }

    .f-div2 h1:after {
        content: " ";
        width: 100%;
        border: 2px solid white;
        margin-top: 5px;
    }

.f-div3 {
    display: flex;
    gap: 10px;
}

    .f-div3 img {
        width: 70px;
        height: 20px;
        margin-top: 10px;
    }

/*final footer*/
.final-footer {
    background-color: #000000;
    width: 100%;
    height: auto;
    border-top: 2px solid #414141;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.f2-div1 {
    margin: auto;
    margin-top: 20px;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ khung hình của ảnh*/
}

.f2-div1 a {
    color: #aeaeae;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

    .f2-div1 a:hover {
        transition: ease 0.5s all;
        color: #ffa827;
    }

.f2-div1 p {
    color: #aeaeae;
    font-size: 16px;
}


/*-----------------------Shipper------------------------------------------------------*/
.donhang-home {
    width: 100%;
    height: auto;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background: rgb(1,1,1,0.6);
}

    .donhang-home h1 {
        display: block;
        width: 100%;
        height: 50px;
        margin: auto;
        margin-top: 0;
        border-top: 2px solid #2e84ed;
        border-bottom: 2px solid #2e84ed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1e1919;
        font-size: 20px;
    }

.dh-div1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
    margin: auto;
    margin-top: 60px;
}
.dh-div2{
    margin:auto;
    width:550px;
    border-radius:4px;
    box-shadow:0px 0px 10px #0eb5ff;
    background-color:#11121a;
}
.dh-div3{
    margin:auto;
}
.dh-div3 p{
    color:white;
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    max-width:510px;
    margin-top:8px;
}
.dh-div3 span{
    color: #ffa827;
}
#dh-div3-ngaydat{
    color:#aeaeae;
    font-size:14px;
    margin:auto;
    margin-top:15px;
    margin-bottom:35px;
    text-align:right;
}
.dh-div4{
    margin:auto;
    width:100%;
    margin-top:30px;
    margin-bottom:20px;
    border-top:1px solid #aeaeae;
    display:flex;
}
.dh-div4-action1 {
    display: block;
    width: 120px;
    height: 35px;
    font-size: 15px;
    text-decoration: none;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    margin-top: 20px;
}
.dh-div4-action1:hover, .dh-div4-action2:hover{
    transition:ease 0.4s all;
    background-color:#269ef9;
}
.dh-div4-action2 {
    display: block;
    width: 120px;
    height: 35px;
    font-size: 15px;
    text-decoration: none;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    margin-top: 20px;
}
.dh-div4-action3 {
    display: block;
    width: 150px;
    height: 35px;
    font-size: 15px;
    text-decoration: none;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575656;
    color: white;
    margin-top: 20px;
    cursor:help;
}

.end {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
